<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM Automation Project">

	<listeners>
     		<listener
    		 	class-name="com.crm.ExtentReportListener.ExtentReportNG"/>
    </listeners>
 
 <test name="Free CRM Test">
    <classes>
    		<class name="com.crm.testcases.LoginPagetest"></class>
    		<class name="com.crm.testcases.HomePageTest"></class>
 		    <class name="com.crm.testcases.ContactsPageTest"></class>
 			<class name="com.crm.testcases.DealsPageTest"></class>
 		    <class name="com.crm.testcases.TaskPagetest"></class>
 	 
 	 </classes>
 </test>
</suite>